$navbar-default-bg:#dd840f;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
	float: left;
	font-size: 1.7em;
	color: #fffbf9;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #000;
	text-decoration: none;
}

.center {
	text-align: center;
}


.jambotron {
	background-image:  asset-url('ruby.jpeg');
	background-size: cover;
	height: 500px;
}

.jambotron h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;

}
